* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-bar {
  margin: 3px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  padding: 4px 10px;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-li {
  padding: 3px 5px;
  border-right: 1px solid grey;
  cursor: pointer;
}

.nav-li:last-child {
  border: none;
}

.nav-date {
  padding: 3px 10px;
  text-align: right;
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
  padding-top: 20px;
}

section {
  margin: 4em;
}

.book-list {
  border: 1px solid black;
  padding: 10px;
}

.book {
  display: flex;
  justify-content: flex-start;
  background-color: lightblue;
  margin: 5px;
  padding: 20px;
}

.book:nth-child(even) {
  background-color: white;
}

.book > button {
  justify-self: flex-end;
  margin-right: 10px;
  margin-left: auto;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
}

.book > p {
  padding: 5px;
}

hr {
  width: 40%;
  margin: auto;
  border-color: black;
}

h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
}

input {
  border: 1px solid black;
  padding: 5px;
}

.add_button {
  width: 80px;
  padding: 3px;
  margin-left: auto;
  box-shadow: 5px 5px 5px black;
}

.info_p {
  max-width: 600px;
  margin: auto;
}

.info_list {
  max-width: 600px;
  margin: auto;
  padding: 25px;
  padding-left: 50px;
}

.info_list > li {
  padding: 5px;
}

.copyright {
  border: 1px solid black;
  margin: 3px;
  padding: 5px;
  background-color: white;
}

.hide {
  display: none;
}

.nav-active {
  font-weight: bolder;
  background-color: lightblue;
}
